body,
#root {
  width: 100vw;
  height: 100vh;
  margin: auto;
  overflow: hidden;
}

svg {
  border-left: 0.5px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}

line {
  stroke: lightgrey;
}

text {
  font-family: monospace;
}

.ew-resize:hover {
  cursor: ew-resize;
}

.ns-resize:hover {
  cursor: ns-resize;
}